/* simple reset */
html,
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #727272;
    color: #252525;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* utils */
.ui-hidden {
    display: none !important;
}
