/* simple reset */
html,
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #727272;
    color: #ffffff;
}

* {
    box-sizing: border-box;
}

body,
main.ui-game,
canvas#game-canvas {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* utils */
.ui-hidden {
    display: none !important;
}

/* HTML dialog styles */
.dialog {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    max-height: calc(100% - 4em);
    max-width: calc(100% - 2em);
    padding: 0.5em 1em;
    margin: 2em auto;
    border: none;
    overflow: auto;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.775);
    user-select: text;
    background-color: #ffffff;
    color: #000000;
}

.dialog.show {
    display: block;
}

.dialog-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.dialog-backdrop.show,
.dialog-backdrop.show .dialog {
    display: block;
}

.ui-hidden {
    display: none;
}

.ui-chat {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10em;
}

.ui-chat form {
    height: -webkit-fill-available;
}

.ui-chat fieldset {
    margin: 0;
    padding: 0 0.2em;
    border-radius: 0.25em;
    height: -webkit-fill-available;
}

.ui-chat ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: calc(100% - 22px);
    overflow-y: auto;
}

.ui-chat #chat-input {
    width: -webkit-fill-available;
    opacity: 0.25;
}

.ui-chat #chat-input:active,
.ui-chat #chat-input:focus {
    opacity: 1;
}

.ui-chat #chat-submit {
    display: none;
}

.ui-character {
    position: absolute;
    right: 0;
    top: 0;

    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 0.4em;
    padding: 0.25em;
}

.ui-character .title {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

.ui-character .equip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ui-character .stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
}