/* DialogNPC */
.ui-dialog-npc {
	width: fit-content;
	height: fit-content;
	max-height: calc(100% - 4em);
	max-width: calc(100% - 2em);
	padding: 0.5em 1em;
	overflow: auto;
	box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.775);
	user-select: text;
}

.ui-dialog-npc header {
	border-bottom: 1px solid #cccccc;
}

.ui-dialog-npc article {
	display: none;
}

.ui-dialog-npc article:first-child {
	display: block;
}

/* Sell list as grid */
.ui-dialog-npc .sell-list-items {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0;
	margin: 0.5em 0;
	gap: 0.25em;
}

.ui-dialog-npc .sell-list-items li {
	border: 1px solid #dddddd;
	border-radius: 0.25em;
	padding: 0.25em;
	cursor: pointer;
	background-color: #ffffff;
	transition: background-color 0.2s ease-in-out;
}

.ui-dialog-npc .sell-list-items li:hover,
.ui-dialog-npc .sell-list-items li:active {
	background-color: #80fc7075;
}

.ui-dialog-npc .sell-list-items li .selected-item-amount {
	font-size: 80%;
	color: #777777;
}
