/* SkillBarUI */
.ui-skill-bar {
	gap: 0.25em;
}

.ui-skill-bar.open {
	display: flex;
}

.ui-skill-bar button {
	box-sizing: border-box;
	border: 1px solid #dddddd;
	border-radius: 0.4em;
	padding: 0.25em;
	background-color: #d3d3d3;
	color: #252525;
	transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.ui-skill-bar button:active {
	background-color: #b8b8b8;
	border-color: rgb(167, 167, 167);
}

.ui-skill-bar button.active {
	background-color: #58bd3e;
	border-color: #6ef74c;
}

.ui-skill-bar button.error {
	background-color: #a80202;
	border-color: #ff0000;
}

@media only screen and (max-width: 600px) {
	.ui-skill-bar {
		flex-direction: column;
		left: auto;
		right: 0.5em;
		/* reset .centered-x */
		transform: none;
	}
}
