/* SkillTreeUI */
.ui-skill-tree header {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 0.5em;
}

.ui-skill-tree header button {
	margin-left: 0.5em;
	border-radius: 5em;
}

.ui-skill-tree .content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* use media query on small screens to use one column layout */
@media screen and (max-width: 600px) {
	.ui-skill-tree .content {
		grid-template-columns: 1fr;
	}
}

/* skill card */
.ui-skill-tree .content div.skill {
	box-sizing: border-box;
	border: 1px solid #dddddd;
	border-radius: 0.4em;
	padding: 0.25em;
	background-color: #d3d3d3;
	color: #252525;
}

.ui-skill-tree .content div.skill .name {
	font-size: 110%;
	font-weight: bold;
}

.ui-skill-tree .content div.skill .desc {
	font-size: 100%;
}
