/* CharacterUI */
.ui-character {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 0.4em;
    padding: 0.25em;
    background-color: #f1f1f1;
    color: #252525;
}

.ui-character .title {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

.ui-character .equip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ui-character .stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
}