/* login */
.ui-login {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

.ui-login fieldset {
    margin: 0;
    padding: 0 0.2em;
    border-radius: 0.25em;
}

.ui-login ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ui-login input[type=text],
.ui-login input[type=password],
.ui-login input[type=email] {
    display: block;
    width: 100%;
    width: -webkit-fill-available;
}